@using ADarkBlazor.Services.Buttons.Interfaces

<div class=@(!ButtonBase.IsClickable ? "notClickable" : "")>
    <div class=@(!ButtonBase.IsClickable ? "button redBorder" : "button") onclick="@ButtonBase.Invoke">
        @ButtonBase.Title
        <div class="cooldownResizeContainer" style=@(!ButtonBase.IsClickable ? $"width: calc((100% / {ButtonBase.Cooldown}) * {ButtonBase.RemainingCooldown});" : "")>
            <div class="cooldown" style=@(!ButtonBase.IsClickable ? $"animation: animationWidth {ButtonBase.RemainingCooldown}ms linear;" : "")></div>
        </div>
    </div>
</div>

@functions
{
    [Parameter]
    IBuilderButtonBase ButtonBase { get; set; }

    protected override void OnInit()
    {
        ButtonBase.OnChange += StateHasChanged;
    }
}
