@using ADarkBlazor.Services.Interfaces
@using ADarkBlazor.Services.Workers.Interfaces
@inject IIdleWorker idleWorker
@inject IWorkerService workerService

<div class="workerButtons">
    <div class=@(idleWorker.NumberOfWorkers <= 0 ? "notClickable floatLeft" : "floatLeft")>
        <div class=@(idleWorker.NumberOfWorkers <= 0 ? "button smallButton redBorder" : "button smallButton") onclick="@AddWorkerClick">
            +
        </div>
    </div>
    <div class=@(Worker.NumberOfWorkers <= 0 ? "notClickable floatLeft" : "floatLeft")>
        <div class=@(Worker.NumberOfWorkers <= 0 ? "button smallButton redBorder" : "button smallButton") onclick="@SubtractWorkerClick">
            -
        </div>
    </div>
    <div class="clearfix"></div>
</div>
@functions
{
    [Parameter]
    IWorker Worker { get; set; }

    void AddWorkerClick()
    {
        workerService.AddPersonToWorker(Worker.GetType());
    }

    void SubtractWorkerClick()
    {
        workerService.SubtractPersonFromWorker(Worker.GetType());
    }
}
