@using ADarkBlazor.Services.Buttons

@inject IDebugHyper debugHyper

<div class="button hyperButton" onclick="@debugHyper.Invoke">
    <span>@debugHyper.Title</span>
</div>

@functions
{
[Parameter]
IButtonBase ButtonBase { get; set; }

protected override void OnInit()
{
    ButtonBase.OnChange += StateHasChanged;
}
}
