@using ADarkBlazor.Services.Buttons.Interfaces

@inject IHyper hyper

<div class="button hyperButton" onclick="@hyper.Invoke">
    <span>@hyper.Title</span>
</div>

@functions
{
    [Parameter]
    IButtonBase ButtonBase { get; set; }

    protected override void OnInit()
    {
        ButtonBase.OnChange += StateHasChanged;
    }
}