@using ADarkBlazor.Services.Buttons.Interfaces

@inject IReset reset

<div class="button hyperButton resetButton" onclick="@reset.Invoke">
    <span>@reset.Title</span>
</div>

@functions
{
    [Parameter]
    IButtonBase ButtonBase { get; set; }

    protected override void OnInit()
    {
        ButtonBase.OnChange += StateHasChanged;
    }
}