@using ADarkBlazor.Services
@using ADarkBlazor.Services.Interfaces
@inject ApplicationState state
@inject IResourceService resourceService
@page "/Builder"


<div class="col-4">
    <h1>The Unique Building</h1>

</div>

<div class="col-6">
    <div data-legend="Workers" class="workers">
        <table style="width: 100%">
            <thead>
                <tr>
                    <th width="60%"></th>
                    <th width="40%"></th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var resource in workerService.Workers)
                {
                    @if (!resource.IsVisible)
                    {
                        //continue;
                    }
                    <tr>
                        <td>@resource.Name</td>
                        <td class="rightAlign">@resource.NumberOfWorkers</td>
                        <ButtonWorkerComponent Worker=resource></ButtonWorkerComponent>
                    </tr>
                }*@
            </tbody>
        </table>
    </div>
</div>

<div class="col-2">
    @if (resourceService.Resources.Any(x => x.IsVisible))
    {
        <div data-legend="Resources" class="resources">
            <table style="width: 100%">
                <thead>
                    <tr>
                        <th width="60%"></th>
                        <th width="40%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var resource in resourceService.Resources)
                    {
                        @if (!resource.IsVisible)
                        {
                            continue;
                        }
                        <tr>
                            <td>@resource.Name</td>
                            <td class="rightAlign">@resource.Amount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>


@functions {
    protected override void OnInit()
    {
        state.OnChange += StateHasChanged;
    }
}

