@using ADarkBlazor.Services
@using ADarkBlazor.Services.Buttons.Interfaces
@using ADarkBlazor.Services.Interfaces

@inject ApplicationState state
@inject IStory story
@inject IHyper hyper
@inject IReset reset
@page "/fields"


<div class="col-4">
    <h1>The Forgotten Fields</h1>
    <StoryComponent></StoryComponent>
</div>

<div class="col-6">
    <div class="row">
        <ButtonComponent ButtonBase=story></ButtonComponent>
    </div>
    <BuilderWorkerComponent></BuilderWorkerComponent>
</div>

<div class="col-2">
    <ResourceComponent></ResourceComponent>
</div>
<div class="floatingButton">
    <ResetComponent ButtonBase=reset></ResetComponent>
    <HyperComponent ButtonBase=hyper></HyperComponent>
</div>

@functions {
protected override void OnInit()
{
    state.RegisterButtons();
}
}
