@using ADarkBlazor.Services
@using ADarkBlazor.Services.Interfaces
@using ADarkBlazor.Services.Buttons
@inject ApplicationState state
@inject IResourceService resourceService
@inject IStoryService storyService
@inject IStory story
@page "/fields"


<div class="col-4">
    <h1>The Forgotten Fields | @state.Test()</h1>
    <ul>
        @foreach (var storyOutput in storyService.StoryOutputs)
        {
            <li>
                <label>@storyOutput.Info</label>
            </li>
        }
    </ul>
</div>

<div class="col-4">
    <ButtonComponent ButtonBase=story></ButtonComponent>
</div>

<div class="col-2">
    @if (resourceService.Resources.Any(x => x.IsVisible))
    {
        <div data-legend="Resources" class="resources">
            <table style="width: 100%">
                <thead>
                    <tr>
                        <th width="60%"></th>
                        <th width="40%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var resource in resourceService.Resources)
                    {
                        @if (!resource.IsVisible)
                        {
                            continue;
                        }
                        <tr>
                            <td>@resource.Name</td>
                            <td class="rightAlign">@resource.Amount</td>
                        </tr>
                    }
                    @*<tr>
                            <td>Wood</td>
                            <td class="rightAlign">1000</td>
                        </tr>
                        <tr>
                            <td>Stuff</td>
                            <td class="rightAlign">10</td>
                        </tr>*@
                </tbody>
            </table>
        </div>
    }
</div>

@functions {
    protected override void OnInit()
    {
        state.RegisterButtons();
        state.OnChange += StateHasChanged;
        //story.OnChange += StateHasChanged;
        storyService.OnChange += StateHasChanged;
    }
}
