@using ADarkBlazor.Services
@using ADarkBlazor.Services.Interfaces
@using ADarkBlazor.Services.Buttons
@inject ApplicationState state
@inject IStoryService storyService
@inject IStory story
@page "/reef"

<div class="col">

    <h1>The Vile Reef</h1>

</div>
