@using System.Collections
@using ADarkBlazor.Domain
@using System.Collections.Generic
@using System.Threading
@using System.Threading.Tasks
@using ADarkBlazor.Services
@using ADarkBlazor.Services.Interfaces
@inject ApplicationState state
@inject IButtonClickableService clickable
@page "/room"

<h1>The Room</h1>

<div class="col-md-3">
    <ul>
        @foreach (var todo in state.PrintedInformation)
        {
            <li>
                <label>@todo.Info</label>
            </li>
        }
    </ul>
</div>

<div class="col-md-6">
    <button @onclick(state.AddRoomInfo)>Add Different Info</button>
    @if (clickable.ButtonEvent)
    {
        <button @onclick(state.AddRoomInfo)>Add Different Info</button>
    }
    else
    {
        <button @onclick(state.AddRoomInfo) disabled style="background: yellow">Add Different Info</button>
    }
</div>


@functions {
    protected override void OnInit()
    {
        state.RegisterButtons();
        state.OnChange += StateHasChanged;
    }
}
