@using ADarkBlazor.Services
@using ADarkBlazor.Services.Interfaces
@using ADarkBlazor.Services.Buttons
@inject ApplicationState state
@inject IButtonClickableService clickable
@inject IStory story
@page "/room"

<h1>The Room</h1>

<div class="col-md-3">
    <ul>
        @foreach (var todo in state.PrintedInformation)
        {
            <li>
                <label>@todo.Info</label>
            </li>
        }
    </ul>
</div>

<div class="col-md-6">
    <button @onclick(story.Invoke)>Add Different Info</button>
    @if (story.IsClickable)
    {
        <button @onclick(story.Invoke)>Add Different Info</button>
    }
    else
    {
        <button @onclick(story.Invoke) disabled style="background: yellow">Add Different Info</button>
    }
</div>


@functions {
    protected override void OnInit()
    {
        state.RegisterButtons();
        state.OnChange += StateHasChanged;
        story.OnChange += StateHasChanged;
    }
}
