@using ADarkBlazor.Services
@using ADarkBlazor.Services.Interfaces
@using ADarkBlazor.Services.Buttons
@inject ApplicationState state
@inject IButtonClickableService clickable
@inject IStory story
@page "/room"

<h1>The Room</h1>

<div class="col-md-3">
    <ul>
        @foreach (var todo in state.PrintedInformation)
        {
            <li>
                <label>@todo.Info</label>
            </li>
        }
    </ul>
</div>

<div class="col-md-6">
    <button disabled="@(!story.IsClickable)" style=@(!story.IsClickable ? "background: red": "") onclick="@story.Invoke" >Stoke Fire</button>
</div>


@functions {
    protected override void OnInit()
    {
        state.RegisterButtons();
        state.OnChange += StateHasChanged;
        story.OnChange += StateHasChanged;
    }
}
