@using ADarkBlazor.Services
@using ADarkBlazor.Services.Interfaces
@using ADarkBlazor.Services.Buttons.Interfaces
@using ADarkBlazor.Services.Workers.Interfaces

@inject ApplicationState state
@inject IWorkerService workerService
@inject IResourceService resourceService
@inject IStoryService storyService
@inject IGatherWood gatherWood
@inject IIdleWorker idleWorker
@inject IWoodGatherer woodGatherer
@inject IFisherman fisherman
@page "/townhall"

<div class="col-4">
    <h1>The Town Hall</h1>
    <StoryComponent></StoryComponent>
</div>

<div class="col-6">
    <div data-legend="Workers" class="workers">
        <table style="width: 100%">
            <thead>
                <tr>
                    <th width="60%"></th>
                    <th width="40%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var resource in workerService.Workers)
                {
                    @if (!resource.IsVisible)
                    {
                        //continue;
                    }
                    <tr>
                        <td>@resource.Name</td>
                        <td class="rightAlign">@resource.NumberOfWorkers</td>
                        <ButtonWorkerComponent Worker=resource></ButtonWorkerComponent>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="col-2">
    <ResourceComponent></ResourceComponent>
</div>


@functions {

    void Test()
    {

    }

    protected override void OnInit()
    {
        state.OnChange += StateHasChanged;
        gatherWood.OnChange += StateHasChanged;
        storyService.OnChange += StateHasChanged;
        idleWorker.OnChange += StateHasChanged;
        woodGatherer.OnChange += StateHasChanged;
        fisherman.OnChange += StateHasChanged;
    }
}

