@using ADarkBlazor.Services
@using ADarkBlazor.Services.Interfaces
@using ADarkBlazor.Services.Buttons.Interfaces

@inject ApplicationState state
@inject IResourceService resourceService
@inject IStoryService storyService
@inject IGatherWood gatherWood
@page "/woods"

<div class="col-4">
    <h1>The Infested Forest</h1>
    <StoryComponent></StoryComponent>
</div>

<div class="col-6">
    <ButtonComponent ButtonBase=gatherWood></ButtonComponent>
</div>

<div class="col-2">
    <ResourceComponent></ResourceComponent>
</div>


