div {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#information {
    top: 20px;
    left: 0px;
    height: 700px;
    width: 200px;
    overflow: hidden;
}

div#content {
    float: left;
    height: 700px;
    overflow: hidden;
}

div.button {
    position: relative;
    text-align: center;
    border: 1px solid black;
    width: 200px;
    margin-bottom: 0px;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.smallButton {
    width: 20px;
    padding: 0px;
    margin: 5px;
}

div.redBorder {
    border: 1px solid #630b0b;
}

div.hidden {
    display: none;
}

div.button div.cooldown {
    z-index: -1;
    height: 100%;
    background-color: #E2DCDC;
    overflow: hidden;
    width: 100%;
}

div.button div.cooldown:hover {
    animation: noAnimation;
}

div.button div.cooldownResizeContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    height: 100%;
}

div.floatLeft {
    float: left;
}

div.workerButtons {
    width: 60px;
}

.waitAnimation {
    height: 100px;
    padding: 0px 0px 10px 0px;
}

@keyframes animationWidth {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.resources {
    border: 1px solid black;
    padding: 5px 10px;
}

.workers {
    border: 1px solid black;
    padding: 5px 10px;
}

.resources:before {
    position: absolute;
    background: white;
    content: attr(data-legend);
    left: 8px;
    top: -13px;
    padding: 0px 5px;
    margin: 0px 10px;
}

td.rightAlign {
    text-align: right;
}

.notClickable {
    pointer-events: none;
}

.floatingButton .hyperButton {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    text-align: center;
    line-height: 100px;
    padding: 0;
}

.hyperButton span {
    position: relative;
    text-transform: uppercase;
    font-weight:bold;
    color: white;
}